.benefits {
  display: flex;
  gap: 30px;
}

.benefits__list {
  display: flex;
  flex-wrap: wrap;

  gap: 30px;
}
.benefits__item {
  width: 270px;
}
.benefits__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}