.header {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  border-bottom: 1px solid #ececec;
  display: block;
}
&header__conteiner {
  display: flex;
  align-items: center;
}

&.header__logo1 {
  margin-right: 93px;
}
&.header__contacts--list {
  display: flex;
  margin-left: auto;
}