@mixin section($padding-top: 94px, $padding-bottom: 94px) {
    padding-top: $padding-top;
    padding-bottom: $padding-bottom;
}
.benefits__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    background-color: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.benefits-icon {
 display: flex;
 align-items: center;
 justify-content: center;
 width: 70px;
 height: 70px;}